.login-form {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 2px solid #6a994e;
}

.login-button {
  background-color: #6a994e;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}