.item-container {
  display: flex;
  margin: 10px;
  align-items: center;
}

.checkmark {
  /* background-color: #6a994e; */
  margin-right: 10px;
}

.item-name {
  margin-right: 10px;
}

/* .item-quantity {

}

.delete-icon {

} */



