.auth-button {
  background-color: #6a994e;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
}

.add-button {
  background-color: #6a994e;
  color: white;
  padding: 5px;
  margin: 5px 40px 5px 0;
  font-size: 12px;
}